@import url('https://fonts.googleapis.com/css?family=Roboto');
* { 
  margin: 0%;
  padding: 0%;
  user-select:none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family:  "Roboto",sans-serif;
  background-image: url("./Hexagons\ Tech\ Background\ 01_preview1.jpg")
}
.container nav.desk,
.container nav.mob{
  width:100%;
  background: rgb(54, 74, 75);
  height: 60px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  position: fixed;
  top: 0;
  left: 0;
}

nav.desk ul {
  list-style: none;
  width: 75%;
  height: 60px;
  margin: 0 auto;
}

nav.desk ul li{
  width: 20%;
  float: left;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}
nav ul li:hover{
  background: #a3ada5;
}
nav ul li.active{
  color: #fff;
  text-decoration:none;
}
nav ul li a{
  color: #fff;
  text-decoration:none;
}
nav.mob{
  display: none;
}

h1 {
    color: rgb(235, 235, 235);
    font-size: 90px;
    font-family: fantasy;
    font-style: oblique;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 70px;
}


h2{
  color:rgb(235, 235, 235);
  font-size:25px;
  text-align: center;
  margin-top: 0%;
}

div.container1 {
    margin-top:0%;
    text-align: center;    
}
.container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.wrap{
  display: flex;
  justify-content: space-evenly;
}
.info{
  background-color: ghostwhite;
  width: 20%;
  padding: 1%;
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 1%;
  
}

#dicegame{
  margin:1%;
}
#project{
  background-color: ghostwhite;
  width: 99%;
  padding: 1%;
  border: 5px solid rgb(0, 0, 0);
}

#contact {
  color: white;
  width: 100%;
  padding: 1%;
  text-align: center;
}
@media screen and (max-width:800px){
  nav.desk,
  .hamburger-btn{
    display: none;
  }
  nav.mob,
  .hamburger-btn{
    display:block;
  }
  .hamburger-btn{
    display:block;
  }
  .hamburger-btn{
    position: relative;
  }
  .hamburger-btn .fa-bars,
  .hamburger-btn .fa-times{
    position: fixed;
    right: 25px;
    top: 15px;
    font-size: 35px;
    color: #fff;
    cursor:pointer;
    
  }
  .mob ul{
    /* margin-top: 60px; */
    background:#364a4b;

  }
  .mob li{
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    cursor: pointer;
  }
  h1{
    font-size: 40px;
    margin-bottom: 0%;
    margin-top: 70px;
  }
  h2{
      font-size:20px;
      margin-top: 0%;
  }
  .info{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #project{
   width: 100%;
  }
  #dicegame{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #contact{
    color: white;
    width: 100%;
    padding: 1%;
    text-align: center;
  }
  
}
